﻿@model List<TheSwearJar.Models.Jar>

@{
    ViewBag.Title = "Dashboard";
}


<div class="row">
    @foreach (var j in Model)
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @Html.DisplayFor(m=>j.Name)
                </div>
            </div>
        </div>
    }
</div>
