﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Swear Jar</h1>
    <p class="lead">Ever tried to start dropping the naughty words out your vocabulary?  Need a hand?  That's where The Swear Jar comes in.</p>
</div>