﻿@model TheSwearJar.Models.Swear

@{
    ViewBag.Title = "Edit Swear";
}
<div class="row">
    <div class="col-lg-6">
        <div class="well">
            @using (Html.BeginForm(MVC.Swear.Edit(), FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Edit Swear</legend>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(m => m.UserId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Value, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Value, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Value)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Cost, new { @class = "control-label col-lg-2" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Cost, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Cost)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", MVC.Swear.Index(), new { @class = "btn btn-default" })
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
