﻿@model IEnumerable<TheSwearJar.Models.Swear>

@{
    ViewBag.Title = "Your Swears";
}

<h2>Your Swears</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @if (item.UserId != null)
                {
                    <div class="btn-group btn-group-xs">
                        @Html.ActionLink("Edit", MVC.Swear.Edit(item.Id), new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", MVC.Swear.Delete(item.Id), new { @class = "btn btn-danger" })
                    </div>
                }
            </td>
        </tr>
    }

</table>


@Html.ActionLink("Create New Swear", MVC.Swear.Create(), new {@class = "btn btn-primary"})

@section scripts
{
    <script type="text/javascript">
        $(".btn-danger").click(function () {
            return confirm("Are you sure you'd like to delete this phrase?");
        });
    </script>
}
