﻿@model TheSwearJar.Models.Jar

@{
    ViewBag.Title = "Edit Jar";
}

<div class="row">
    <div class="col-lg-6">
        <div class="well">
            @using (Html.BeginForm(MVC.Jar.Edit(), FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Edit Jar</legend>
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(m => m.UserId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new {@class = "control-label col-lg-2"})
                        <div class="col-lg-10">
                            @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", MVC.Jar.Index(), new {@class = "btn btn-default"})
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}