﻿@model IEnumerable<TheSwearJar.Models.Jar>

@{
    ViewBag.Title = "Index";
}

<h2>Your Jars</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="btn-group btn-group-xs">
                    @Html.ActionLink("Edit", MVC.Jar.Edit(item.Id), new {@class = "btn btn-default"})
                    @Html.ActionLink("Delete", MVC.Jar.Delete(item.Id), new {@class = "btn btn-danger"})
                </div>
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Create New Jar", MVC.Jar.Create(), new {@class = "btn btn-primary"})

@section scripts
{
    <script type="text/javascript">
        $(".btn-danger").click(function() {
            return confirm("Are you sure you'd like to delete this jar?");
        });
    </script>
}